.container{
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(175px,1fr));
    grid-template-rows: minmax(90px, 130px);
    margin-bottom: 30px;
    padding-top: 10px;
    z-index: 99;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    width:55%;
    height: 3px;
    background-color: #EE7128;
}

.listSocialNetworks{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 20%;
    height:100%;
    border: 2px solid #EE7128;  
    border-radius: 20px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.itemSocialMedia{
    width: 70%;
    text-align: center;
    border-bottom: 1px solid #EE7128;
}
.aSocialNetworks{
    cursor: pointer;
}

.ulCumplimos{
    list-style-type: none;
    font-size: 1rem;
}

.aCumplimos{
    color: black;
    text-decoration: none;
}

.textFooter{
    font-size: 1rem;
}

@media screen and (max-width:1000px) {
    .container{
        grid-template-columns: minmax(135px,1fr) minmax(135px,1fr);
        grid-template-rows: repeat(auto-fit,minmax(90px,1fr));
    }

}


@media screen and (max-width:900px) {
    .container{
        grid-template-rows: 170px;
    }

}

@media screen and (max-width:540px) {
    .textFooter{
        font-size: 0.8rem;
    }
}


@media screen and (max-width:470px) {
    .container{
        grid-template-columns: minmax(175px,1fr);
        grid-template-rows: minmax(90px,1fr) minmax(90px,1fr) minmax(90px,1fr) 150px;
    }
    .ulCumplimos{
        padding-left: 55px;
    }

    .textFooter{
        font-size: 1.1rem;
    }
}


  @media screen and (max-width:375px) {
    .container{
        grid-template-columns: minmax(175px,1fr);
        grid-template-rows: minmax(90px,1fr) minmax(90px,1fr) minmax(90px,1fr) 150px;
    }
    .ulCumplimos{
        padding-left: 55px;
        font-size: 0.8rem;
    }

    .textFooter{
        font-size: 0.8rem;
    }
  }