.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.hero{
  position: relative;
  background-image: url('../images/hero-home.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.hero_text_container{
  margin-top: 10vh;
  margin-left: 20px;
}

.hero_text{
  font-size: 1.6rem;
  font-weight: 500;
}

.hero_text_secundary {
  font-size: 1.6rem;
  font-weight: 200;
}


.skills{
  position: relative;
  top:-30px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  row-gap: 20px;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3,300px);
}

.card-skill {
  position: relative;
  box-shadow: #496eb6 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-skill > img {
  width: 60px;
  height: 60px;
}

.semiCircle[color="blue"] {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 20%;
  border-radius: 50% 0 0 50%;
  background-color: #496eb6;
}

.semiCircle[color="orange"] {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 20%;
  border-radius: 50% 0 0 50%;
  background-color: rgb(235, 94, 41);
}

.titleCardIA[color="blue"] {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  width: 70%;
  border-bottom: 2px solid #496eb6;
}

.titleCardIA[color="orange"] {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
  width: 70%;
  border-bottom: 2px solid rgb(235, 94, 41);
}

.contentCard {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.containerConocenos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerConocenos span {
  font-size: 1.5rem;
  font-weight: 200;
}

.line{
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0px 5px;
}

.line::before{
  content:'';
  position: absolute;
  top:50%;
  left:0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.cardSection{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.feesDetails{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.title_fee {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleFees{
  margin:0;
  padding:0;
  font-weight: bold;
  text-align:center;
  font-size: 3rem;
}

.titleFees[color="blue"] {
  color: #496EB6;
}

.titleFees[color="white"] {
  color: #fff;
}

.titleFees[color="orange"] {
  color: rgb(235, 94, 41);
}

img.image_fees {
  position: absolute;
  height: 120px;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.bg_img_fee {
  position: absolute;
  height: 120px;
  width: 100%;
  z-index: -1;
  background-color: black;
  opacity: 0.3;
}

.feesDetails_span {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  padding: 15px 60px;
}

.sectionSections{
  background-image: url('../images/waves_opacity.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.button_solutions{
  margin-top: 20px;
  width: 90%;
  border: none;
  text-align: center;
  border-radius: 30px;
  color: white;
  font-weight: light;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 0;
}

.containerImages{
  width: 100%;
  height: 100%;
}

.image_fees_desktop{
  display: none;
}


@media (min-width:950px) {
  .skills{
    position: relative;
    top:-90px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    column-gap: 0px;
    grid-template-rows: 400px;
    grid-template-columns: repeat(3,30vw);
  }

  .card-skill {
    max-width: 320px;
    max-height: 350px;
  }

  .hero{
    height: 60vh;
  }

  .hero_text_container{
    max-width: 60vw;
    margin-right: 100px;
  }

  .hero_text {
    font-size: 3rem;
  }

  .hero_text_secundary{
    font-size: 2.6rem;
  }

  .feesDetails{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .helthDetails{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .titleHealth{
    font-size: 3rem;
  }
  .titleFees{
    font-size: 3rem;
  }

  .button_solutions{
    width:50%;
  }

  .image_fees{
    width: 100%;
    height: 100%;
    border-radius:0px 20px 20px 0px;
    transform:translatex(-10%);
  }
  
  .image_health{
    width: 100%;
    height: 100%;
    border-radius:20px 0px 0px 20px;
    transform:translatex(10%);
  }
  
  .containerConocenos{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .cardSection {
    display: flex;
    justify-content: space-between;
  }

  .feesDetails {
    width: 55%;
  }

  span.feesDetails_span {
    font-size: 2rem;
    font-weight: 100;
    color: #6a6a6a;
  }

  .image_fees_mobile, .bg_img_fee {
    display: none;
  }

  .image_fees_desktop {
    display: block;
    width: 35%;
    height: 450px;
  }

  .image_fees_desktop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .image_fees_desktop_invers img {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}